body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

#output {
  background: white;
  padding: 15px;
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
}
#output p {
  margin: 5px 0;
}

#output img {
  display: block;
  margin-bottom: 10px;
  border-radius: 6px;
}
